<% if user_signed_in? %>
  <%= 'Signed in with: ' + current_user.email %>
  <%= button_to 'sign out', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>

<h1>Books#index</h1>

<%= link_to 'new_book', new_book_path %>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book_path(book) %>
      <%= 'star: ' + (book.summary_star || 'no reviews').to_s %>
    </li>
  <% end %>
</ul>
